#App {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    
    .large {
        font-size: $baseFontSize;
    }
    
    .small {
        font-size: $baseFontSize / 2;
    }
}
