#Background {
    align-items: center; 
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    transition: background-image 0.5s linear;
    width: 100%;

    .mid-col {
        flex-direction: column;
        width: 100%;
    }
}
